version: "3.9"
services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: insurance
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      DB_URL: postgresql://postgres:postgres@db:5432/insurance
      SECRET_KEY: supersecretkey
    depends_on:
      - db
    ports:
      - "8000:8000"
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    depends_on:
      - backend
    environment:
      REACT_APP_API_URL: http://localhost:8000
      PORT: 3023
    ports:
      - "3023:3023"
volumes:
  db_data:
