fastapi
uvicorn
python-jose
passlib
pydantic
python-multipart
sqlalchemy
psycopg2-binary
pytest
httpx
psutil
# OpenTelemetry
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-otlp
# Prometheus
prometheus-client
